:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  overscroll-behavior: none;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: monospace;
  overflow: hidden;
}

.panel {
  background: rgba(0, 139, 139, 0.425);
  border: 2px solid rgba(0, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  user-select: none;
}

.select_item {
  font-family: monospace;
  padding: 5px;
  border-radius: 20%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 5px;
  user-select: none;
}

.select_item:hover {
  outline: 2px solid teal;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 25px;
  background: rgba(0, 255, 255, 0.6);
  border: 2px solid #0ff;
  border-radius: 4px;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  transition: background 0.2s, transform 0.2s;
}
input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  background: rgba(0, 255, 255, 0.8);
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 25px;
  background: rgba(0, 255, 255, 0.6);
  border: 2px solid #0ff;
  border-radius: 4px;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  transition: background 0.2s, transform 0.2s;
}
input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.1);
  background: rgba(0, 255, 255, 0.8);
}

.button {
  font-family: monospace;
  background: rgba(0, 255, 255, 0.6);
  border: 2px solid #0ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.highlighted {
  background: blue;
}

.planet-info-panel {
  position: fixed;
  border-radius: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 300px;
  background-color: rgba(0, 139, 139, 0.425);
  border: 2px solid #0ff;
  color: white;
  overflow: hidden;
  z-index: 50;
  box-sizing: border-box;
  transition: all 0.3s ease;
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.planet-info-panel-hide {
  position: absolute;
  border-radius: 10%;
  right: -20%;
  top: 20%;
  height: 60%;
  width: 300px;
  background-color: rgba(0, 139, 139, 0.425);
  border: 2px solid #0ff;
  color: white;
  padding: 0px 16px 24px 24px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.close-button {
  padding: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
}
.close-button:hover {
  background: rgba(0, 255, 255, 0.6);
}
.close-button:active {
  background: rgba(0, 255, 255, 0.8);
}

.display-button {
  padding: 5px;
  background-color: rgba(0, 255, 255, 0.6);
  font-family: monospace;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  position: fixed;
  right: 10px;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 50px;
  margin-right: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.6);
  border: 0.5em solid rgba(0, 0, 0, 0);
  /* background-clip: padding-box; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 255, 0.8);
}
